In [1]:
import pandas as pd
import numpy as np

In [2]:
from rake_nltk import Rake
import numpy as np

In [3]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
df=pd.read_csv("movie_metadata.csv")
df.columns

Index(['index', 'director', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor1',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor2', 'Title',
       'num_voted_users', 'cast_total_facebook_likes', 'actor3',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [5]:
df.head()

,index,director,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor1,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,0,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,1,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,2,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,3,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,4,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [6]:
df.shape

(5043, 28)

In [7]:
def get_title_from_index(index):
    return  df[df.index==index]["Title"].values[0]

In [8]:
def get_index_from_title(Title):
    return df[df.Title==Title]["index"].values[0]

In [9]:
features=["Title","genres","director","actor1","actor2","actor3"]

In [10]:
print(features)

['Title', 'genres', 'director', 'actor1', 'actor2', 'actor3']

In [11]:
def combine_features(row):
    return row["Title"]+""+row["genres"]+""+row["director"]+""+row["actor1"]+""+row["actor2"]+""+row["actor3"]

In [12]:
for feature in features:
    df[feature]=df[feature].fillna("")
df["combined_features"]=df.apply(combine_features,axis=1)

In [13]:
print(df["combined_features"])

0       Avatar Action|Adventure|Fantasy|Sci-FiJames Ca...
1       Pirates of the Caribbean: At World's End Actio...
2       Spectre Action|Adventure|ThrillerSam MendesRor...
3       The Dark Knight Rises Action|ThrillerChristoph...
4       Star Wars: Episode VII - The Force Awakens    ...
5       John Carter Action|Adventure|Sci-FiAndrew Stan...
6       Spider-Man 3 Action|Adventure|RomanceSam Raimi...
7       Tangled Adventure|Animation|Comedy|Family|Fant...
8       Avengers: Age of Ultron Action|Adventure|Sci-F...
9       Harry Potter and the Half-Blood Prince Adventu...
10      Batman v Superman: Dawn of Justice Action|Adve...
11      Superman Returns Action|Adventure|Sci-FiBryan ...
12      Quantum of Solace Action|AdventureMarc Forster...
13      Pirates of the Caribbean: Dead Man's Chest Act...
14      The Lone Ranger Action|Adventure|WesternGore V...
15      Man of Steel Action|Adventure|Fantasy|Sci-FiZa...
16      The Chronicles of Narnia: Prince Caspian Actio...
17      The Avengers Action|Adventure|Sci-FiJoss Whedo...
18      Pirates of the Caribbean: On Stranger Tides Ac...
19      Men in Black 3 Action|Adventure|Comedy|Family|...
20      The Hobbit: The Battle of the Five Armies Adve...
21      The Amazing Spider-Man Action|Adventure|Fantas...
22      Robin Hood Action|Adventure|Drama|HistoryRidle...
23      The Hobbit: The Desolation of Smaug Adventure|...
24      The Golden Compass Adventure|Family|FantasyChr...
25      King Kong Action|Adventure|Drama|RomancePeter ...
26      Titanic Drama|RomanceJames CameronKate Winslet...
27      Captain America: Civil War Action|Adventure|Sc...
28      Battleship Action|Adventure|Sci-Fi|ThrillerPet...
29      Jurassic World Action|Adventure|Sci-Fi|Thrille...
                              ...
5013    Manito Drama|FamilyEric EasonPanchito GómezFra...
5014    Rampage Action|Crime|ThrillerUwe BollKatharine...
5015    Slacker Comedy|DramaRichard LinklaterRichard L...
5016    Dutch Kills Crime|Drama|ThrillerJoseph Mazzell...
5017    Dry Spell Comedy|RomanceTravis LeggeSuzi Lorra...
5018    Flywheel DramaAlex KendrickLisa ArnoldShannen ...
5019    Exeter Horror|Mystery|ThrillerMarcus NispelBri...
5020    The Ridges Drama|Horror|ThrillerBrandon Lander...
5021    The Puffy Chair Comedy|Drama|RomanceJay Duplas...
5022    Stories of Our Lives DramaJim ChuchuOlwenya Ma...
5023    Breaking Upwards RomanceDaryl WeinHeather Burn...
5024    All Superheroes Must Die Sci-Fi|ThrillerJason ...
5025    Pink Flamingos Comedy|Crime|HorrorJohn WatersM...
5026    Clean Drama|Music|RomanceOlivier AssayasBéatri...
5027    The Circle DramaJafar PanahiNargess MamizadehF...
5028    Tin Can Man HorrorIvan KavanaghMichael ParlePa...
5029    The Cure Crime|Horror|Mystery|ThrillerKiyoshi ...
5030    On the Downlow DramaTadeo GarciaMichael Cortez...
5031    Sanctuary; Quite a Conundrum Comedy|Horror|Thr...
5032    Bang Crime|DramaAsh Baron-CohenStanley B. Herm...
5033    Primer Drama|Sci-Fi|ThrillerShane CarruthDavid...
5034    Cavite ThrillerNeill Dela LlanaEdgar Tancangco...
5035    El Mariachi Action|Crime|Drama|Romance|Thrille...
5036    The Mongol King Crime|DramaAnthony ValloneJohn...
5037    Newlyweds Comedy|DramaEdward BurnsCaitlin Fitz...
5038    Signed Sealed Delivered Comedy|DramaScott Smit...
5039    The Following             Crime|Drama|Mystery|...
5040    A Plague So Pleasant Drama|Horror|ThrillerBenj...
5041    Shanghai Calling Comedy|Drama|RomanceDaniel Hs...
5042    My Date with Drew DocumentaryJon GunnBrian Her...
Name: combined_features, Length: 5043, dtype: object

In [14]:
df["combined_features"]=df["combined_features"].str.replace("|"," ")

In [15]:
df["combined_features"].head()

0    Avatar Action Adventure Fantasy Sci-FiJames Ca...
1    Pirates of the Caribbean: At World's End Actio...
2    Spectre Action Adventure ThrillerSam MendesRor...
3    The Dark Knight Rises Action ThrillerChristoph...
4    Star Wars: Episode VII - The Force Awakens    ...
Name: combined_features, dtype: object

In [16]:
c=CountVectorizer()
count_matrix=c.fit_transform(df["combined_features"])
print(count_matrix)

  (0, 20711)	1
  (0, 16911)	1
  (0, 14640)	1
  (0, 4919)	1
  (0, 2891)	1
  (0, 7417)	1
  (0, 18980)	1
  (0, 6945)	1
  (0, 220)	1
  (0, 157)	1
  (0, 992)	1
  (1, 4911)	1
  (1, 5179)	1
  (1, 1934)	1
  (1, 22353)	1
  (1, 6993)	1
  (1, 6574)	1
  (1, 23740)	1
  (1, 927)	1
  (1, 3027)	1
  (1, 21120)	1
  (1, 15766)	1
  (1, 16614)	1
  (1, 220)	1
  (1, 157)	1
  :	:
  (5040, 21290)	1
  (5040, 16714)	1
  (5040, 16677)	1
  (5040, 19891)	1
  (5040, 3295)	1
  (5040, 10346)	1
  (5040, 5718)	1
  (5041, 4318)	1
  (5041, 18511)	1
  (5041, 9859)	1
  (5041, 10548)	1
  (5041, 2873)	1
  (5041, 18092)	1
  (5041, 19286)	1
  (5041, 5718)	1
  (5041, 3850)	1
  (5042, 9217)	1
  (5042, 974)	1
  (5042, 9933)	1
  (5042, 9218)	1
  (5042, 5508)	1
  (5042, 6071)	1
  (5042, 15133)	1
  (5042, 4904)	1
  (5042, 23602)	1

In [17]:
cosine_sim=cosine_similarity(count_matrix)
print(cosine_sim)

[[1.         0.16116459 0.21320072 ... 0.         0.         0.        ]
 [0.16116459 1.         0.18898224 ... 0.         0.         0.        ]
 [0.21320072 0.18898224 1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         0.10540926 0.        ]
 [0.         0.         0.         ... 0.10540926 1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [18]:
cosine_sim.shape

(5043, 5043)

In [20]:
def recommended(movie_user_likes):
    movie_index=get_index_from_title(movie_user_likes)
    similar_movies=list(enumerate(cosine_sim[movie_index]))
    sorted_similar_movies=sorted(similar_movies,key=lambda x:x[1],reverse=True)
    i=0
    for movie in sorted_similar_movies:
      print(get_title_from_index(movie[0]))
      i=i+1
      if i>10:
         break

In [22]:
recommended("Click\xa0")

Click
Practical Magic
Shallow Hal
Ghost Town
The Tempest
Big
Sliding Doors
Trollhunter
The Family Man
17 Again
Stranger Than Fiction